@charset "utf-8";
/* CSS Document */
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	}
a{
	text-decoration:none;
	}
ul{
	list-style:none;
	}
div{
	box-sizing:border-box;
	}
body {
	background-color:#d2d6de !important;
	font-size: 14px;
	}
.login-crm{
	margin:80px auto;
	width:360px;
	}
.login-crm h2{
	text-align:center;
	font-size:35px;
	}
.login-crm h2 a{
	color:#444;
	font-weight:normal;
	text-decoration:none;
	}
/*主体部分*/
.login-crm .login-up{
	width:100%;
	border:1px solid #fff;
	background:#fff;
	padding:15px 20px 20px 20px;
	margin-top:30px;
	color:#666;
	}
.login-up p{
	color:#666;
	text-align:center;
	margin-bottom:20px;
	}
.login-up #register{
	width:100%;
	margin:0 auto;
	}
.login-up .form-control{
	display:block;
	width:100%;
	line-height:36px;
	padding-left:10px;
	color:#555;
	border:1px solid #ccc;
	border-radius:0;
	}
.login-up .form-control:focus{
	box-shadow:none;
	border-color:#3c8dbc;
	}
.login-up div{
	margin-bottom:15px;
	width:100%;
	}
.login-up .btn{
	border-radius:0;
	box-shadow:none;
	border-width:1px;
	}
.login-up .btn-primary{
	background-color: #3c8dbc;
    border-color: #367fa9;
	}
.login-up .btn:hover{
	background-color:#367fa9;
	border-color:#122b40;
	}
.icon-name{
	}
.icon-pwd{
	}
@media (max-width:768px){
	.login-crm{
		margin:20px auto;
		width:90%;
		}
	}
